table {
	height: 100%;
	width: 100%;
	table-layout: fixed; 
		box-shadow: 1px 1px 75px white;

}

tr {
	height: 25%;
}

td {
	height: 20%;
	width: 30%;

	padding: 2%;
	background: -webkit-linear-gradient(grey, white);
  	background: -moz-linear-gradient(grey, white);
  	background: -ms-linear-gradient(grey, white);
  	background: linear-gradient(grey, white);

  	border: inset #504A4B 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

td:hover { 
	background: -webkit-linear-gradient(grey, purple);
  	background: -moz-linear-gradient(grey, purple);
  	background: -ms-linear-gradient(grey, purple);
  	background: linear-gradient(grey, purple);
}

td:active {
   height: 40%;
   width: 30%;
}


#featured_songs {
	height: 20%;
	width: 100%;	
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:lighter;
	font-size: medium;

	margin-bottom: 3%;
	text-align: center;

	float: left;
}

#squares {
	height: 70%;
	float: left;
}

#current_week{
	height: 10%;
}

#feats{
	height: 90%;
	width: 100%;

	float: left;
}

.featured{
	padding-left: 2%;
	padding-right: 2%;
}

.featured:hover{
	transition:width 2s, height 2s, transform 4s;
	-webkit-transition:width 2s, height 2s, -webkit-transform 4s;
	
	transform:scale(1.5,1.5);
	-webkit-transform:scale(1.5,1.5);
}

.genres{
	height: 15%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:lighter;
}

.square{
	padding-left: 6%;
	padding-bottom: 6%;
	width: 40%;
	height: 45%;
	float: left;
	text-align: center;
}