#registration{
	width: 50%;
	height: 1000px;
	background: #333333;

	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;

	box-shadow: 1px 1px 100px white;
	margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 4%;

	float: left;
}

#accountChoice{
	height: 5%;
	width: 80%;
	float: left;

	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:lighter;
	font-size: large;
	text-align: center;

    margin-top: 4%;
   	margin-left: 19%;
   	margin-bottom: 2%;
}

#userChoice{
	height: 100%;
	width: 40%;
  	float: left;
}

#artistChoice{
	height: 100%;
	width: 40%;
	float: left;
}

.selected{
	border: inset black 5px;
    background: grey;
    color: white;
}

.unselected{
	border: outset black 5px;
	background: white;
	color: black;
}

#data{
	height: 75%;
	width: 75%;
	margin-left: 15%;
	float:left;
}

#promo{
	width: 40%;
	position: fixed;
	overflow: none;
	margin-top: 10%;
	margin-left: 60%;
	float: left;
}

a{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:lighter;
	font-size: smaller;
	text-decoration: italic;
	color: white;
}

select{
	size:10;
}

.now_playing
{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
