#container {
	height: 800px;
}

html{
	background: black;
}
header {
	background-color: black;
	height: 20%;
	top:auto;
}

footer {
	background-color: black;
	height: 10%;
	bottom: fixed;
}

#content {
	width: 100%;
	height: 70%;
}

#featured {
	height: 20%;
}

#squares {
	height: 80%;
}

.square{
	width: 50%;
	height: 50%;
	float: left;
}

.scrollable {
	overflow-y: auto;
	overflow-x: auto;
}

div#logo{
	width: 25%;
	height: 100%;
	float: left;
	

}
#logo:hover{
	transition:width 2s, height 2s, transform 4s;
	-webkit-transition:width 2s, height 2s, -webkit-transform 4s;
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
}

#img_logo{
	margin-left: 2%;
	margin-top: 5%;
	width:75%;
	height:75%;
}

div#song_data{
	background: -webkit-linear-gradient(black, grey);
  	background: -moz-linear-gradient(black, grey);
  	background: -ms-linear-gradient(black, grey);
  	background: linear-gradient(black, grey);

	margin-top: 0%;
	margin-left: 5%;
	width: 40%;
	height: 90%;
	float: left;

	border: outset white 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 5px;
	border-radius: 50px;
}

#song_status{
	margin-top: 2%;
	margin-bottom: 1%;
	color:white;

	font-size: large;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:lighter;

	text-align: center;
	text-decoration: underline;
}

#song_title{
	color:white;

	margin-top: 2%;
	margin-bottom: 1%;

	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:lighter;
	font-size: 300%;
	text-align: center;


}

#song_title:hover{
	
}

#song_details{
	color:white;

	width:100%;

	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:lighter;

	text-align: center;
}

#song_artist{
	width: 50%;
	float:left;
}

#song_album{
	width:50%;
	float:left;
}

div#account{	
	width: 25%;
	height: 60%;
	float: left;

	margin-top: 1%;
	margin-left: 2%;

	background: -webkit-linear-gradient(black, grey);
  	background: -moz-linear-gradient(black, grey);
  	background: -ms-linear-gradient(black, grey);
  	background: linear-gradient(black, grey);

	border: outset white 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	color:white;
}

#searchSection{
	width: 25%;
	height: 20%;
	float: left;
	margin-top: 1%;
	margin-left: 1%;
	padding-left: 1%;
}

#search{
    background: url(http://4.bp.blogspot.com/-239R3H-ONfw/TjRXPkTSusI/AAAAAAAAA3M/pgaoKdDCypg/s1600/search-white.png) no-repeat 5px 5px #444;
   
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 5 3px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#q{
	width: 95%;
}

.hide{
	display:none;
}

.show{
	display:inline;
}

h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	color: white;
}

h2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: larger;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color: white;
}

h3 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: small;
	font-weight: lighter;
	text-decoration: underline;
	text-align: center;
	color: white;
}

p {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:lighter;
	text-align: center;
}

table {
	height: 100%;
	width: 100%;
	padding: 1%;
	table-layout: fixed; 
}

tr {
	height: 25%;
}

th{
	width:100%; 
	color: white;

	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:lighter;
	font-size: medium;

	text-align: center;
}

td {
	height: 25%;
	width: 33%;

	background: -webkit-linear-gradient(grey, white);
  	background: -moz-linear-gradient(grey, white);
  	background: -ms-linear-gradient(grey, white);
  	background: linear-gradient(grey, white);
}

td:hover{ 
	background: -webkit-linear-gradient(grey, purple);
  	background: -moz-linear-gradient(grey, purple);
  	background: -ms-linear-gradient(grey, purple);
  	background: linear-gradient(grey, purple);
}

td:active {
   height: 40%;
   width: 30%;
}

#footer{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: smaller;
	font-weight:lighter;
	text-align: center;
	color: white;
}

.f_item {
	display: inline-block;
	height: 25px;
	border: solid white 2px;
	border-radius: 50%;
	width: 25px;
}

audio{
 	width: 100%;
 	margin: 0 auto;
}